@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include theme-aware("background-color", "primary");
  @include theme-aware("color", "text-primary");
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
}
