@use "../abstracts" as *;
@use "sass:map";

.container {
  width: 100%;
  max-width: 1440px;

  margin: 0 auto;
  padding: 0 map.get($spacing, 4);

  @include respond-to("tablet") {
    padding: 0 map.get($spacing, 6);
  }
}

// Flex utilities
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

// Spacing utilities
@each $key, $value in $spacing {
  .m-#{$key} {
    margin: $value;
  }
  .mt-#{$key} {
    margin-top: $value;
  }
  .mr-#{$key} {
    margin-right: $value;
  }
  .mb-#{$key} {
    margin-bottom: $value;
  }
  .ml-#{$key} {
    margin-left: $value;
  }
  .mx-#{$key} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$key} {
    margin-top: $value;
    margin-bottom: $value;
  }

  .p-#{$key} {
    padding: $value;
  }
  .pt-#{$key} {
    padding-top: $value;
  }
  .pr-#{$key} {
    padding-right: $value;
  }
  .pb-#{$key} {
    padding-bottom: $value;
  }
  .pl-#{$key} {
    padding-left: $value;
  }
  .px-#{$key} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$key} {
    padding-top: $value;
    padding-bottom: $value;
  }
}

// Typography utilities
@each $key, $value in $font-sizes {
  .text-#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $font-weights {
  .font-#{$key} {
    font-weight: $value;
  }
}
