.actions {
  @include flex(row, flex-start, center, 0.5rem);
  margin-top: 1rem;

  @include respond-to("tablet") {
    gap: 1rem;
    margin-top: 2rem;
  }

  button {
    background: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;

    @include respond-to("tablet") {
      padding: 0.8rem 2rem;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &.play-btn {
      @include flex(row, center, center, 0.5rem);

      min-width: 160px;

      @include respond-to("tablet") {
        min-width: 200px;
      }

      a {
        @include flex(row, center, center, 0.5rem);
        text-decoration: none;
        color: white;
      }

      span {
        font-size: 1.2rem;
      }
    }

    &.add-btn {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;

      @include respond-to("tablet") {
        padding: 0.65rem 1.2rem;
      }

      &.in-list {
        background: rgba(255, 255, 255, 0.5);
        color: theme-aware("primary");
      }
    }
  }
}
