.top-rated-section {
  padding: 2rem;
  padding-left: 96px;
  padding-bottom: 0.5rem;
  position: relative;

  h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .carousel-container {
    width: 100%;

    // Add a wrapper to handle overflow
    .carousel-wrapper {
      overflow: hidden;
      position: relative;
    }

    .carousel {
      max-width: 100%;
      padding: 0.5rem;
      position: relative;
      z-index: 1;
    }

    .carousel-item {
      opacity: 1;
      position: relative;

      &.active {
        border: none;
      }
    }
  }
}
