.top-rated-section {
  padding: 1rem;
  position: relative;

  @include respond-to("tablet") {
    padding: 2rem;
    padding-left: 96px;
    padding-bottom: 0.5rem;
  }

  h2 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;

    @include respond-to("tablet") {
      font-size: 1.5rem;
    }
  }

  .carousel-container {
    width: 100%;

    // Add a wrapper to handle overflow
    .carousel-wrapper {
      overflow: hidden;
      position: relative;
    }

    .carousel {
      max-width: 100%;
      padding: 0.25rem;
      position: relative;
      z-index: 1;

      @include respond-to("tablet") {
        padding: 0.5rem;
      }
    }

    .carousel-item {
      opacity: 1;
      position: relative;
      width: 100px;
      height: auto;
      aspect-ratio: 3/4;

      @include respond-to("tablet") {
        width: 164px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.active {
        border: none;
      }
    }
  }
}
