$card-width: 200px;

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @include respond-to("tablet") {
    gap: 1rem;
  }

  .carousel-arrow {
    @include flex(row, center, center);
    position: absolute;
    width: 32px;
    height: calc(100% - 0.5rem);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 3;

    @include respond-to("tablet") {
      width: 40px;
      height: calc(100% - 1rem);
      font-size: 32px;
    }

    &.left {
      left: 10px;
      transform: translateX(-50%);

      @include respond-to("tablet") {
        left: 20px;
      }
    }

    &.right {
      right: 10px;
      transform: translateX(50%);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );

      @include respond-to("tablet") {
        right: 20px;
      }
    }
  }

  &:hover {
    .carousel-arrow {
      opacity: 1;
    }
  }

  .carousel {
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: 100%;
    padding: 0.25rem;

    @include respond-to("tablet") {
      gap: 1rem;
      max-width: calc($card-width * 3 + 2.5rem);
      padding: 0.5rem;
    }

    .carousel-item {
      flex-shrink: 0;
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.3s ease;
      opacity: 0.8;
      width: calc($card-width * 0.8); // Smaller on mobile

      @include respond-to("tablet") {
        border-radius: 8px;
        width: $card-width;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }

      &:hover {
        transform: scale(1.05);
        opacity: 1;
      }

      &.active {
        border: 2px solid white;
        opacity: 1;
      }
    }
  }
}
