$card-width: 200px;

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;

  .carousel-arrow {
    @include flex(row, center, center);
    position: absolute;
    width: 40px;
    height: calc(100% - 1rem);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: white;
    font-size: 32px;
    cursor: pointer;
    z-index: 3;

    &.left {
      left: 20px;
      transform: translateX(-50%);
    }

    &.right {
      right: 20px;
      transform: translateX(50%);
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }

  &:hover {
    .carousel-arrow {
      opacity: 1;
    }
  }

  .carousel {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: calc($card-width * 3 + 2.5rem);
    padding: 0.5rem;

    .carousel-item {
      flex-shrink: 0;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      transition: all 0.3s ease;
      opacity: 0.8;

      img {
        object-fit: cover;
      }

      &:hover {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }
}
