.search-bar {
  @include flex(row, flex-start, center, 0.5rem);
  @include theme-aware("background", "input-background");
  border-radius: 8px;
  padding: 0.75rem 1rem;
  margin-bottom: 2rem;

  .search-icon {
    @include theme-aware("color", "input-placeholder");
    font-size: 1.2rem;
  }

  .search-input {
    flex: 1;
    background: none;
    border: none;
    @include theme-aware("color", "input-text");
    font-size: 1rem;
    outline: none;

    &::placeholder {
      @include theme-aware("color", "input-placeholder");
    }
  }
}
